{% extends 'main/base.html' %}
{% load static %}


{% block main_content %}
        <!-- Start::app-content -->
            <!-- Режим списък -->
            <div class="container-fluid">

                <!-- Page Header -->
                 <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                     <div>
                         <p class="mb-1 mt-2 text-muted">
                             <img class="avatar" src="{{ user_profile.school.logo.url }}">
                             {{ user_profile.school.short_name}} - {{ user_profile.school.city}}</p>
                         <p class="text-muted" style="margin-left: 3rem;">специалност {{ specialty.specialty_name}}</p>
                         <h1 class="page-title fw-normal fs-20 mb-12">{{ subject.name}}</h1>
                         <nav>
                            <ol class="breadcrumb mb-2 ">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Начало</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'specialty_list' %}">{{ specialty.specialty_name}}</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'subjects_list' %}">{{ subject.name}}
                                ({% if subject.type %} теория {% else %} практика {% endif %})</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Цели и задачи</li>
                            </ol>
                        </nav>
                     </div>
                </div>
                <!-- Page Header Close -->

                <!-- Цели -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <div class="card-1 custom-card" >
                        <div class="card-header d-md-flex d-block align-items-center justify-content-between my-4">
                            <div class="card-title ">
                                <div>Цели на обучението по предмета</div>
                            </div>
                            <div class="d-flex gap-12 align-items-center" v-if="!edit.editor">
                                <button type="button" class="btn-1 btn btn-success" @click="newGoal()">
                                    <span class="d-flex align-items-center gap-6">
                                        <i class="bi bi-plus-circle"></i>
                                        <span class="white">Добави цел</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled projects-items-danger-list" v-if="listOfGoals.length===0">
                                <!-- ако няма въведени цели -->
                                <li v-if="showItem(0,-1)">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="flex-fill">
                                            <span class="d-block fw-normal fs-16 custom-black">
                                                Не са намерени цели на обучението по предмета</span>
                                        </div>
                                    </div>
                                </li>
                                <!-- Дабавяне на цел -->
                                <li v-if="showEditor(0,-1)">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="flex-fill">
                                            <div class="row g-3 mt-0">
                                                <!-- номер -->
                                                <div class="col-md-1">
                                                    <input type="number" class="form-control" id="goalNum"
                                                           v-model="goal.num">
                                                </div>

                                                <!-- текст -->
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="goalName"
                                                           v-model="goal.name">
                                                </div>

                                                <!-- Бутони запис/отказ -->
                                                <div class="col-3 text-center">
                                                    <button class="btn btn-outline-secondary btn-wave fs-16" @click="clearEditMode()">
                                                        Откажи</button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <button class="btn btn-outline-success btn-wave fs-16" @click="saveGoal()">
                                                        Запиши</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-unstyled projects-items-success-list" v-else>
                                <li v-for="(g, g_idx) in listOfGoals">
                                    <div class="d-flex align-items-center gap-3" v-if="showItem(0,g_idx)">
                                        <div class="flex-fill">
                                            <span class="d-block fw-normal  fs-16 custom-black">
                                                [[g.num]]. [[g.name]]</span>
                                        </div>
                                        <button type="button" class="btn-1 btn btn-success fw-medium" @click="editGoal(g_idx)"
                                                v-if="!edit.editor">
                                            <span class="d-flex align-items-center gap-6">
                                                <i class="bi bi-pen"></i>
                                                <span class="white">Промени</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="d-flex align-items-center gap-3" v-if="showEditor(0,g_idx)">
                                        <div class="flex-fill">
                                            <div class="row g-3 mt-0">
                                                <!-- номер -->
                                                <div class="col-md-1">
                                                    <input type="number" class="form-control" v-model="goal.num">
                                                </div>

                                                <!-- текст -->
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" v-model="goal.name">
                                                </div>

                                                <!-- Бутони запис/отказ -->
                                                <div class="col-3 text-center">
                                                    <button class="btn btn-outline-secondary btn-wave fs-16" @click="clearEditMode()">
                                                        Откажи</button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <button class="btn btn-outline-success btn-wave fs-16" @click="saveGoal()">
                                                        Запиши</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- Дабавяне на цел -->
                                <li v-if="showEditor(0,-1)">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="flex-fill">
                                            <div class="row g-3 mt-0">
                                                <!-- номер -->
                                                <div class="col-md-1">
                                                    <input type="number" class="form-control" v-model="goal.num">
                                                </div>

                                                <!-- текст -->
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" v-model="goal.name">
                                                </div>

                                                <!-- Бутони запис/отказ -->
                                                <div class="col-3 text-center">
                                                    <button class="btn btn-outline-secondary btn-wave fs-16" @click="clearEditMode">
                                                        Откажи</button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <button class="btn btn-outline-success btn-wave fs-16" @click="saveGoal()">
                                                        Запиши</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Цели край -->

            </div>
        <!-- End::app-content -->

{% endblock %}

{% block page_script %}
    <script src="{% static 'irida/js/subjects.js' %}"></script>
{% endblock %}