<!DOCTYPE html>
{% load static %}

<html lang="bg" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
      data-menu-styles="dark" data-toggled="menu-click-closed">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>** ИРИДА **</title>
    <meta name="Description" content="Project Irirda">
    <meta name="Author" content="Gimas 2000">
    <meta name="keywords"
        content="education">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/brand-logos/favicon.ico.png' %}" type="image/x-icon">

    <!-- Choices JS -->
    <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

    <!-- Main Theme Js -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet">

    <!-- Node Waves Css -->
    <link href="{% static 'libs/node-waves/waves.min.css' %}" rel="stylesheet">


    <!-- Simplebar Css -->
    <link href="{% static 'libs/simplebar/simplebar.min.css' %}" rel="stylesheet">

    <!-- Color Picker CSS -->
    <link rel="stylesheet" href="{% static 'libs/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/@simonwep/pickr/themes/nano.min.css' %}">

    <!-- Choices Css -->
    <link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">


    <link rel="stylesheet" href="{% static 'libs/jsvectormap/css/jsvectormap.min.css' %}">

    <link rel="stylesheet" href="{% static 'libs/flatpickr/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/flatpickr/classic.css' %}">
    <link rel="stylesheet" href="{% static 'libs/flatpickr/classic.date.css' %}">
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
</head>

<body>

    <!-- Start Switcher -->
    {% include 'main/switcher.html' %}
    <!-- End Switcher -->

    <div class="page">
           <!-- app-header -->
        <header class="app-header">

            <!-- Start::main-header-container -->
            <div class="main-header-container container-fluid">

                <!-- Start::header-content-left -->
                <div class="header-content-left">

                    <!-- Start::header-element лого-->
                    <div class="header-element">
                        <div class="horizontal-logo">
                            <a href="{% url 'home' %}" class="header-logo">
                                <img src="{% static 'images/brand-logos/desktop-logo.png' %}" alt="logo"
                                    class="desktop-logo">
                                <img src="{% static 'images/brand-logos/toggle-logo.png' %}" alt="logo" class="toggle-logo">
                                <img src="{% static 'images/brand-logos/desktop-dark.png' %}" alt="logo"
                                    class="desktop-dark">
                                <img src="{% static 'images/brand-logos/toggle-dark.png' %}" alt="logo" class="toggle-dark">
                            </a>
                        </div>
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element търсене-->
                    <div class="header-element ">
                        <!-- Start::header-link -->
                        <a aria-label="Hide Sidebar"
                            class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
                            data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
                        <!-- Start::header-element -->
                        <div class="header-element header-search">
                            <!-- Start::header-link -->

                            <a href="javascript:void(0);" class="header-link" data-bs-toggle="modal"
                                data-bs-target="#searchModal">
                                <i class="bx bx-search-alt-2 header-link-icon"></i>
                            </a>
                            <!-- End::header-link -->
                        </div>
                    </div>
                    <!-- End::header-element -->
                </div>
                <!-- End::header-content-left -->

                <!-- Start::header-content-right -->
                <div class="header-content-right">

                    <!-- Start::header-element потребител -->
                    <div class="header-element">
                        <!-- Start::header-link|dropdown-toggle -->
                        <a href="#" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <div class="d-sm-block d-none">
                                    <p class="fw-semibold mb-0 lh-1">{{ user_name }}</p>
                                    <p class="mb-0 lh-1 fs-12 text-muted">влязъл като {{ user_nick }}</p>
                                </div>
                            </div>
                        </a>
                        <!-- End::header-link|dropdown-toggle -->
                        <ul class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end"
                            aria-labelledby="mainHeaderProfile">
                            <li><a class="dropdown-item d-flex" href="profile.html"><i
                                        class="ti ti-user-circle fs-18 me-2 op-7"></i>Profile</a></li>
                            <li><a class="dropdown-item d-flex" href="mail.html"><i
                                        class="ti ti-inbox fs-18 me-2 op-7"></i>Inbox <span
                                        class="badge bg-success-transparent ms-auto">25</span></a></li>

                            <li><a class="dropdown-item d-flex" href="mail-settings.html"><i
                                        class="ti ti-adjustments-horizontal fs-18 me-2 op-7"></i>Settings</a></li>
                            <li><a class="dropdown-item d-flex border-block-end" href="javascript:void(0);"><i
                                        class="ti ti-wallet fs-18 me-2 op-7"></i>Bal: $7,12,950</a></li>

                            <li><a class="dropdown-item d-flex" href="{% url 'logout' %}"><i
                                        class="ti ti-logout fs-18 me-2 op-7"></i>Изход</a></li>
                        </ul>
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element -->
                    <div class="header-element header-theme-mode">
                        <!-- Start::header-link|layout-setting -->
                        <a href="javascript:void(0);" class="header-link layout-setting">
                            <span class="light-layout">
                                <!-- Start::header-link-icon -->
                                <i class="bx bx-moon header-link-icon"></i>
                                <!-- End::header-link-icon -->
                            </span>
                            <span class="dark-layout">
                                <!-- Start::header-link-icon -->
                                <i class="bx bx-sun header-link-icon"></i>
                                <!-- End::header-link-icon -->
                            </span>
                        </a>
                        <!-- End::header-link|layout-setting -->
                    </div>
                    <!-- End::header-element -->

                    <!-- Start::header-element switcher-icon -->
                    <div class="header-element">
                        <!-- Start::header-link|switcher-icon -->
                        <a href="#" class="header-link switcher-icon" data-bs-toggle="offcanvas"
                            data-bs-target="#switcher-canvas">
                            <i class="bx bx-cog header-link-icon"></i>
                        </a>
                        <!-- End::header-link|switcher-icon -->
                    </div>
                    <!-- End::header-element -->

                </div>
                <!-- End::header-content-right -->

            </div>
            <!-- End::main-header-container -->

        </header>
        <!-- /app-header -->

        <div id='main_app'>
            <aside class="app-sidebar sticky" id="sidebar">
                <!-- Start::main-sidebar -->
                <div class="main-sidebar" id="sidebar-scroll">

                    <!-- Start::nav -->
                    <nav class="main-menu-container nav nav-pills flex-column sub-open">
                        <div class="main-sidebar-header mb-24">
                            <!-- Лого горе ляво -->
                            <a href="{% url 'home' %}" class="header-logo">
                                <img src="{% static 'images/brand-logos/desktop-dark.png' %}" alt="logo" class="desktop-dark">
                                <img src="{% static 'images/brand-logos/toggle-dark.png' %}" alt="logo" class="toggle-dark">
                                <img src="{% static 'images/brand-logos/desktop-logo.png' %}" alt="logo" class="desktop-logo">
                                <img src="{% static 'images/brand-logos/toggle-logo.png' %}" alt="logo" class="toggle-logo">
                            </a>
                        </div>
                        <div class="slide-left" id="slide-left">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                            </svg>
                        </div>

                        <!-- Меню -->
                        <ul class="main-menu">
                            <!-- Група ВРЕМЕ -->
                            <li class="slide__category"><span class="category-name">Сега:</span></li>
                            <!-- Часовник -->
                            <li class="slide">
                                <div class="side-menu__item">
                                    <i class="bi bi-clock side-menu__icon"></i>
                                    <span class="fs-34 fw-bold">[[ currentTime ]]</span>
                                </div>
                            </li>
                            <!-- Час/междучасие -->
                            <li class="slide">
                                <div class="side-menu__item">
                                    <i class="bi bi-clock-history side-menu__icon"></i>
                                    <div v-if="scheduleInfo.state === 'before'" class="fs-12 text-muted">
                                        До началото остават: [[ scheduleInfo.remaining ]]
                                    </div>

                                    <div v-else-if="scheduleInfo.state === 'lesson'">
                                        <div class="fs-14">
                                            [[ scheduleInfo.lessonNumber ]]
                                            <sup v-if="scheduleInfo.lessonNumber===1">- ви</sup>
                                            <sup v-else-if="scheduleInfo.lessonNumber===2">- ри</sup>
                                            <sup v-else>- ти</sup>
                                            &nbsp;учебен час
                                        </div>
                                    </div>

                                    <div v-else-if="scheduleInfo.state === 'break'">
                                        <div>междучасие</div>
                                    </div>

                                    <div v-else-if="scheduleInfo.state === 'after'" class="fs-12 text-muted">
                                        Учебните часове за деня са приключили
                                    </div>
                                </div>
                            </li>
                            <!-- Изминало/остава -->
                            <li class="slide">
                                <div class="fs-16">
                                    <div v-if="scheduleInfo.state === 'lesson'">
                                        <div>Изминало време: [[ scheduleInfo.elapsed ]]</div>
                                        <div>Оставащо време: [[ scheduleInfo.remaining ]]</div>
                                    </div>
                                    <div v-else-if="scheduleInfo.state === 'break'">
                                        <div>Изминало време: [[ scheduleInfo.elapsed ]]</div>
                                        <div>Оставащо време: [[ scheduleInfo.remaining ]]</div>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-3" role="progressbar"
                                     :aria-valuenow="scheduleInfo.elapsedSeconds"
                                     aria-valuemin="0"
                                     :aria-valuemax="scheduleInfo.intervalSeconds"
                                     style="margin-right: 13px;">
                                    <div class="progress-bar bg-primary"
                                         :style="{ width: scheduleInfo.elapsedPercentage + '%' }">
                                    </div>
                                </div>
                            </li>
                            <!-- Група УРОК -->
                            <li class="slide__category"><span class="category-name">Урок:</span></li>
                            <li class="slide">
                                <div class="side-menu__item">
                                    <i class="bi bi-book side-menu__icon"></i>
                                    <button class="btn btn-outline-success btn-sm btn-wave fs-16"
                                            v-if="isLessonRunning"
                                            @click="stopLesson">
                                        Завърши урока
                                    </button>
                                    <button class="btn btn-outline-secondary btn-sm btn-wave fs-16"
                                            v-else
                                            @click="startLesson">
                                        Започни урока
                                    </button>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="side-menu__item">
                                    <i class="bi bi-hourglass-split side-menu__icon"></i>
                                    <div v-if="!isLessonRunning" class="fs-12 text-muted">
                                        Урокът не е стартиран
                                    </div>
                                    <div v-else>
                                        <div class="fs-14">Таймер на урока</div>
                                    </div>
                                </div>
                            </li>
                            <li class="slide" v-if="isLessonRunning">
                                <div  class="fs-16 mt-2">
                                    <div>Изминало време: [[ lessonRun.totalElapsed ]]</div>
                                    <div>Оставащо време: [[ lessonRun.totalRemaining ]]</div>
                                    <div>status: [[ lessonRun.status ]]</div>
                                </div>
                                <div class="progress progress-sm mt-3" role="progressbar"
                                     :aria-valuenow="lessonRun.totalElapsedSeconds"
                                     aria-valuemin="0"
                                     :aria-valuemax="lessonRun.totalPlannedSeconds"
                                     style="margin-right: 13px;">
                                    <div class="progress-bar bg-success"
                                         :style="{ width: lessonRun.totalPlannedSeconds > 0 ? Math.min(100, Math.floor((lessonRun.totalElapsedSeconds * 100) / lessonRun.totalPlannedSeconds)) + '%' : '0%' }">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                            </svg></div>
                    </nav>
                    <!-- Меню край-->
                </div>
                <!-- End::main-sidebar -->

            </aside>
            <!-- End::app-sidebar -->

            <!-- Start::app-content -->
            <div class="main-content app-content">
    <!-- block main_content -->
                <!-- Режим списък -->
                <div class="container-fluid">
                    <!-- Page Header -->
                    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                        <div>
                            <p class="mb-1 mt-2 text-muted">
                                <img class="avatar" src="{{ user_profile.school.logo.url }}">
                                {{ user_profile.school.short_name}} - {{ user_profile.school.city}}</p>
                            <p class="text-muted" style="margin-left: 3rem;">специалност {{ specialty.specialty_name}}</p>
                            <h1 class="page-title fw-normal fs-20 mb-12">{{ subject.name}}</h1>
                            <nav>
                                <ol class="breadcrumb mb-2">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Начало</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'specialty_list' %}">{{ specialty.specialty_name}}</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'subjects_list' %}">{{ subject.name}}
                                        ({{ subject.subject_type }})</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'lessons_list' %}">Занятие [[session.num]]</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">[[menu_item]]</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- План - детайли -->
                    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                        <div class="card-1 custom-card">
                            <div class="card-header d-md-flex d-block align-items-center justify-content-between my-4"
                                 style="padding-right: 28px;">
                                <div class="card-title ">
                                    <div>Провеждане на занятие [[session.num]]</div>
                                    <div class="row g-1 mt-0">
                                        <div class="col-md-2 fs-12 text-muted text-end">Тема :</div>
                                        <div class="col-md-10 fs-12">[[session.name]]</div>
                                        <div class="col-md-2 fs-12 text-muted text-end">Продължителност :</div>
                                        <div class="col-md-10 fs-12">[[session.duration]] <span v-if="session.duration===1">час</span><span v-else>часа</span></div>
                                        <div class="col-md-2 fs-12 text-muted text-end">Тип на занятието :</div>
                                        <div class="col-md-10 fs-12">[[sessionType(session.session_type)]]</div>
                                        <div class="col-md-2 fs-12 text-muted text-end">Включени теми :</div>
                                        <div class="col-md-10 fs-12">
                                            <ul>
                                                <li v-for="t in topics">
                                                    <div>[[t.topic.name]] <span class="text-muted">([[ moscowTextFor(t.topic) ]])</span></div>
                                                    <div class="fs-11">[[t.description]]</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 fs-12 text-muted text-end">Очаквани резултати :</div>
                                        <div class="col-md-10 fs-12">[[session.goals]]</div>
                                        <div class="col-md-2 fs-12 text-muted text-end">Акценти :</div>
                                        <div class="col-md-10 fs-12">[[session.focus]]</div>
                                    </div>
                                </div>
                            </div>
                            <div ref="pointsContainer" class="card-body points-container">
                                <!-- Когато няма точки -->
                                <ul class="list-unstyled projects-items-danger-list" v-if="points.length===0">
                                    <li>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="flex-fill">
                                                <span class="d-block fw-normal fs-16 custom-black">
                                                    Не е намерен план на занятието</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- Списък на точки -->
                                <div v-else>
                                    <ul class="list-unstyled projects-items-primary-list">
                                        <li v-for="(p, index) in points"
                                            :key="p.id || index"
                                            :ref="el => setPointRef(el, index)"
                                            :class="{ 'selected-point': isSelectedPoint(p) }">
                                            <div class="mb-3">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span class="badge bg-secondary me-2">[[ p.num ]]</span>
                                                        <strong>[[ p.name ]]</strong>
                                                        <small class="text-muted ms-2">
                                                            <span v-if="p.description">([[ p.description ]])</span> - [[ p.duration ]] мин.
                                                        </small>
                                                    </div>
                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                    </div>
                                                </div>
                                                <!-- съдържание и приложения -->
                                                <ul class="list-unstyled projects-items-danger-list">
                                                    <!-- Тайминг -->
                                                    <li>
                                                        <div class="card-1 custom-card" v-if="isSelectedPoint(p)" style="margin-bottom: 0;">
                                                            <div class="card-header d-flex justify-content-between align-items-center"
                                                                 style="padding-top: 0; padding-bottom: 5px;">
                                                                    <div>
                                                                        Тайминг:
                                                                    </div>
                                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-if="showSelectedPointContent.timing"
                                                                                @click="showSelectedPointContent.timing=false"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye-slash label-btn-icon me-2"></i>
                                                                            Скрий&nbsp;&nbsp;&nbsp;
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-else
                                                                                @click="showSelectedPointContent.timing=true"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye label-btn-icon me-2"></i>
                                                                            Покажи
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body" v-if="showSelectedPointContent.timing">
                                                                <div class="mt-2 fs-12 note-content">
                                                                    <div class="row g-1">
                                                                        <div class="col-md-4 text-muted text-end">
                                                                            Планирана продължителност:
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            [[p.duration]] мин.
                                                                        </div>

                                                                        <div class="col-md-4 text-muted text-end">
                                                                            Изминало време:
                                                                        </div>
                                                                        <div class="col-md-8">[[ pointTiming.elapsed
                                                                            ]]
                                                                        </div>

                                                                        <div class="col-md-4 text-muted text-end">
                                                                            Оставащо време:
                                                                        </div>
                                                                        <div class="col-md-8">[[ pointTiming.remaining
                                                                            ]]
                                                                        </div>

                                                                        <div class="col-md-4 text-muted text-end">
                                                                            Статус:
                                                                        </div>
                                                                        <div class="col-md-8">[[ pointTiming.status ]]
                                                                        </div>
                                                                    </div>
                                                                    <div class="progress progress-sm mt-3"
                                                                         role="progressbar"
                                                                         :aria-valuenow="pointTiming.elapsedSeconds"
                                                                         aria-valuemin="0"
                                                                         :aria-valuemax="pointTiming.plannedSeconds">
                                                                        <div class="progress-bar bg-info"
                                                                             :style="{ width: pointTiming.plannedSeconds > 0 ? Math.min(100, Math.floor((pointTiming.elapsedSeconds * 100) / pointTiming.plannedSeconds)) + '%' : '0%' }">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Тайминг край -->
                                                    </li>
                                                    <!-- Съдържание -->
                                                    <li>
                                                        <div class="card-1 custom-card" v-if="isSelectedPoint(p)" style="margin-bottom: 0;">
                                                            <div class="card-header d-flex justify-content-between align-items-center"
                                                                 style="padding-top: 0; padding-bottom: 5px;">
                                                                    <div>
                                                                        Съдържание:
                                                                    </div>
                                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-if="showSelectedPointContent.content"
                                                                                @click="showSelectedPointContent.content=false"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye-slash label-btn-icon me-2"></i>
                                                                            Скрий&nbsp;&nbsp;&nbsp;
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-else
                                                                                @click="showSelectedPointContent.content=true"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye label-btn-icon me-2"></i>
                                                                            Покажи
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body" v-if="showSelectedPointContent.content">
                                                                <!-- Показване на съдържанието като форматиран HTML -->
                                                                <div class="mt-2 fs-12 note-content">
                                                                    <!-- Почистваме HTML с DOMPurify преди да го инжектираме -->
                                                                    <div v-html="sanitize(p.content)"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Съдържание край -->
                                                    </li>
                                                    <!-- Бележки и примери -->
                                                    <li>
                                                        <div class="card-1 custom-card" v-if="isSelectedPoint(p)" style="margin-bottom: 0;">
                                                            <div class="card-header d-flex justify-content-between align-items-center"
                                                                 style="padding-top: 0; padding-bottom: 5px;">
                                                                    <div>
                                                                        Бележки и примери:
                                                                    </div>
                                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-if="showSelectedPointContent.notes"
                                                                                @click="showSelectedPointContent.notes=false"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye-slash label-btn-icon me-2"></i>
                                                                            Скрий
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn" v-else
                                                                                @click="showSelectedPointContent.notes=true"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye label-btn-icon me-2"></i>
                                                                            Покажи
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body" v-if="showSelectedPointContent.notes">
                                                                <!-- Показване на съдържанието като форматиран HTML -->
                                                                <div class="mt-2 fs-12 note-content">
                                                                    <!-- Почистваме HTML с DOMPurify преди да го инжектираме -->
                                                                    <div v-html="sanitize(p.content)"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Бележки и примери край -->
                                                    </li>
                                                    <!-- Задачи -->
                                                    <li>
                                                        <div class="card-1 custom-card mt-3" v-if="isSelectedPoint(p)" style="margin-bottom: 0;">
                                                            <div class="card-header d-flex justify-content-between align-items-center"
                                                                 style="padding-top: 0; padding-bottom: 5px;">
                                                                    <div>
                                                                        Задачи:
                                                                    </div>
                                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-if="showSelectedPointContent.tasks"
                                                                                @click="showSelectedPointContent.tasks=false"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye-slash label-btn-icon me-2"></i>
                                                                            Скрий
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn" v-else
                                                                                @click="showSelectedPointContent.tasks=true"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye label-btn-icon me-2"></i>
                                                                            Покажи
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body" v-if="showSelectedPointContent.tasks">
                                                                <!-- Показване на съдържанието като форматиран HTML -->
                                                                <div class="mt-2 fs-12 note-content">
                                                                    <!-- Почистваме HTML с DOMPurify преди да го инжектираме -->
                                                                    <div v-html="sanitize(p.content)"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Задачи край -->
                                                    </li>
                                                    <!-- Тестове -->
                                                    <li>
                                                        <div class="card-1 custom-card mt-3" v-if="isSelectedPoint(p)" style="margin-bottom: 0;">
                                                            <div class="card-header d-flex justify-content-between align-items-center"
                                                                 style="padding-top: 0; padding-bottom: 5px;">
                                                                    <div>
                                                                        Тест:
                                                                    </div>
                                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-if="showSelectedPointContent.tests"
                                                                                @click="showSelectedPointContent.tests=false"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye-slash label-btn-icon me-2"></i>
                                                                            Скрий
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn" v-else
                                                                                @click="showSelectedPointContent.tests=true"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye label-btn-icon me-2"></i>
                                                                            Покажи
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body" v-if="showSelectedPointContent.tests">
                                                                <!-- Показване на съдържанието като форматиран HTML -->
                                                                <div class="mt-2 fs-12 note-content">
                                                                    <!-- Почистваме HTML с DOMPurify преди да го инжектираме -->
                                                                    <div v-html="sanitize(p.content)"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Тестове край -->
                                                    </li>
                                                    <!-- Приложения -->
                                                    <li>
                                                        <div class="card-1 custom-card mt-3" v-if="isSelectedPoint(p)" style="margin-bottom: 0;">
                                                            <div class="card-header d-flex justify-content-between align-items-center"
                                                                 style="padding-top: 0; padding-bottom: 5px;">
                                                                    <div>
                                                                        Приложения:
                                                                    </div>
                                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn"
                                                                                v-if="showSelectedPointContent.attachments"
                                                                                @click="showSelectedPointContent.attachments=false"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye-slash label-btn-icon me-2"></i>
                                                                            Скрий
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary btn-sm fs-12 label-btn" v-else
                                                                                @click="showSelectedPointContent.attachments=true"
                                                                                style="width: 90px;">
                                                                            <i class="bi bi-eye label-btn-icon me-2"></i>
                                                                            Покажи
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body" v-if="showSelectedPointContent.attachments">
                                                                <!-- Показване на съдържанието като форматиран HTML -->
                                                                <div class="mt-2 fs-12 note-content">
                                                                    <!-- Почистваме HTML с DOMPurify преди да го инжектираме -->
                                                                    <div v-html="sanitize(p.content)"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Приложения край -->
                                                    </li>
                                                </ul>
                                                <!-- съдържание и приложения край -->
                                            </div>
                                            <div class="card-footer" style="padding-right: 0;">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                    </div>
                                                    <div class="d-flex gap-2" v-if="isSelectedPoint(p)">
                                                        <button type="button" class="btn btn-outline-secondary btn-sm fs-12 label-btn"
                                                                @click="prevSelectedPoint" v-if="selectedPointPosition !== 'first'">
                                                            <i class="bi bi-arrow-90deg-left label-btn-icon me-2"></i>
                                                            Върни се
                                                        </button>
                                                        <button type="button" class="btn btn-outline-success btn-sm fs-12 label-btn"
                                                                @click="nextSelectedPoint" v-if="selectedPointPosition !== 'last'">
                                                            <i class="bi bi-arrow-90deg-right label-btn-icon me-2"></i>
                                                            Продължи
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer" style="padding-right: 15px;">
                                <div class="d-flex gap-12 justify-content-between">
                                    <div></div>
                                    <button type="button" class="btn-1 btn btn-success" @click="startCreatePoint">
                                        <span class="d-flex align-items-center gap-6">
                                           <i class="bi bi-plus-circle"></i>
                                            <span class="white">Добави точка в плана</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <!-- endblock -->
            </div>
            <!-- End::app-content base -->
        </div>
        <!-- Footer Start -->
        <footer class="footer mt-auto py-3 menu-bg text-center">
            <div class="container">
                <span class=" fw-normal  gray-3 fs-12"> Банско 2025 &copy; инж. Георги Бориков</span>
            </div>
        </footer>
        <!-- Footer End -->

    </div>


    <div class="scrollToTop">
        <span class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M8 15V1M8 1L1 8M8 1L15 8" stroke="#888888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
    </div>

    <div id="responsive-overlay"></div>

    <!-- Popper JS -->
    <script src="{% static 'libs/@popperjs/core/umd/popper.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Defaultmenu JS -->
    <script src="{% static 'js/defaultmenu.min.js' %}"></script>

    <!-- Node Waves JS-->
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

    <!-- Used For Sessions By Device Chart -->
    <script src="{% static 'libs/moment/moment.js' %}"></script>

    <!-- Sticky JS -->
    <script src="{% static 'js/sticky.js' %}"></script>

    <!-- Simplebar JS -->
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/simplebar.js' %}"></script>

    <!-- Custom-Switcher JS -->

    <!-- Color Picker JS -->
    <script src="{% static 'libs/@simonwep/pickr/pickr.es5.min.js' %}"></script>

    <!-- JSVector Maps JS -->
    <script src="{% static 'libs/jsvectormap/js/jsvectormap.min.js' %}"></script>

    <!-- JSVector Maps MapsJS -->
    <script src="{% static 'libs/jsvectormap/maps/world-merc.js' %}"></script>

    <!-- Apex Charts JS -->
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

    <!-- Chartjs Chart JS -->
    <script src="{% static 'libs/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.6/dist/purify.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- block page_script -->
    <!-- място за локалните скриптове -->
    <script src="{% static 'irida/js/delivery.js' %}"></script>
<!-- endblock  -->

    <script src="{% static 'libs/flatpickr/picker.js' %}"></script>
    <script src="{% static 'libs/flatpickr/picker.date.js' %}"></script>

    <!-- CRM-Dashboard -->
    <script src="{% static 'js/crm-dashboard.js' %}"></script>

    <!-- Jobs-Dashboard
    <script src="{% static 'js/jobs-dashboard.js' %}"></script>
    -->

    <!-- Analytics-Dashboard JS
    <script src="{% static 'js/analytics-dashboard.js' %}"></script>
    -->

    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/custom-switcher.min.js' %}"></script>
</body>

</html>