{% extends 'main/base.html' %}
{% load static %}

{% block main_content %}
        <!-- Start::app-content -->
        <div class="main-content app-content" id='main123'>
            <!-- Режим списък -->
            <div class="container-fluid">

                <!-- Page Header -->
                 <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                     <div>
                         <h1 class="page-title fw-normal fs-20 mb-12">Добре дошли!</h1>
                         <nav>
                            <ol class="breadcrumb mb-2">
                                <li class="breadcrumb-item active" aria-current="page">Начало</li>
                            </ol>
                        </nav>
                     </div>

                     <div class="d-flex gap-12 align-items-center">
                         <button type="button" class="btn-1 btn btn-success">
                             <span class="d-flex align-items-center gap-6">
                                 <i class="bi bi-plus-circle"></i>
                                 <span class="white">Добави училище</span>
                             </span>
                         </button>
                     </div>
                </div>
                <!-- Page Header Close -->

                <div class="container-lg">
                    <!-- Start::row-1 -->
                    <div class="row justify-content-center">
                        <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <ul class="list-unstyled mb-0 notification-container">
                                <li>
                                    <div class="card-1 custom-card un-read">
                                        <div class="card-body p-3">
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-md me-3 avatar-rounded">
                                                            <img alt="avatar" src="{% static 'images/faces/school_logo_1.png' %}">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <div class="d-flex align-items-center">
                                                            <div class="mt-sm-0 mt-2">
                                                                <p class="mb-0 fs-14 fw-semibold">ПГЕЕ - гр. Банско</p>
                                                                <p class="mb-0 text-muted">Професионална гимназия по електроника и енергетика</p>
                                                            </div>
                                                            <div class="ms-auto">
                                                                <div class="btn-list">
                                                                    <button type="button" class="btn btn-outline-success btn-wave">
                                                                        <i class="bi bi-check2-circle"></i>&nbsp;Избери </button>
                                                                    <button type="button" class="btn btn-outline-secondary btn-wave">
                                                                        <i class="bi bi-pen"></i>&nbsp;Промени</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-1 custom-card un-read">
                                        <div class="card-body p-3">
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-top mt-0 flex-wrap">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-md me-3 avatar-rounded">
                                                            <img alt="avatar" src="{% static 'images/faces/school_logo_1.png' %}">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <div class="d-flex align-items-center">
                                                            <div class="mt-sm-0 mt-2">
                                                                <p class="mb-0 fs-14 fw-semibold">ПГЕЕ - гр. Банско</p>
                                                                <p class="mb-0 text-muted">Професионална гимназия по електроника и енергетика</p>
                                                            </div>
                                                            <div class="ms-auto">
                                                                <div class="btn-list">
                                                                    <button type="button" class="btn btn-outline-success btn-wave">
                                                                        <i class="bi bi-check2-circle"></i>&nbsp;Избери </button>
                                                                    <button type="button" class="btn btn-outline-secondary btn-wave">
                                                                        <i class="bi bi-pen"></i>&nbsp;Промени</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End::row-1 -->
                </div>
            </div>
        </div>
        <!-- End::app-content -->
{% endblock %}

{% block page_script %}
    <script src="{% static 'irida/js/welcome.js' %}"></script>
{% endblock %}
